body {
  margin: 0;
}

/* https://qwik.dev/docs/integrations/image-optimization/#customize-image-width--and-height */
.image-wrapper {
  width: 300px;
  position: relative;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}
